.popap__close-input-container {
  border: 0;
  padding: 0;
  margin: 0;
  position: relative;
  left: 8px;
  bottom: 40px;
}

@media screen and (max-width: 500px) {
  .popap__close-input-container  {
    position: absolute;
    bottom: calc(100% + 16px);
    left: calc(100% - 20px);
  }
}
