.footer__overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(41, 43, 46, 0.3);
  text-decoration: none;
  position: absolute;
  top: 0;
  right: 0;
}

.footer__overlay:hover {
  background-color: rgba(41, 43, 46, 0.8);
}