.root {
  margin: auto;
  min-width: 320px;
  max-width: 1280px;
  font-family: 'Inter', 'Arial', sans-serif;
  color: #fff;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
