.footer__cover {
  position: relative;
  z-index: 2;
}

.footer__cover:hover {
  cursor: pointer;
  background-color: #355688;
}


.footer__cover::before{
  content: '';
  position:absolute;
  background-color: #2A2C2F;
  width: 1184px;
  height: 740px;
  opacity: 0.3;
}