.place__website {
  list-style-type: none;
  grid-column-start: 2;
  grid-row-start: 1;
  align-self: end;
  margin: 0 0 48px;
  padding: 0;
}

@media screen and (max-width: 700px) {
  .place__website {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
    margin: 0 0 32px;
  }
} 